<a href="https://colab.research.google.com/github/Shraddha1303/Cyber-Success/blob/main/Pattern_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cyber Success- Homework Assignment-2** (Pattern Printing)

In [ ]:
a=input("Enter name surname separated by space:")
b=[]
n=6
if(a.count(" ")==1):
  b=a.split(" ")
  print(b)
  c=list(b[0]+b[1])
  print(c)
  len(c)
  for i in range(0,n):
      for j in range(i+1):
        print(c[j],end=" ")
      print()

  else:
    print(" ")
    print(" ")
    print(b)    
else:
  print("Put space between name surname")

Enter name surname separated by space:TOM CAT
['TOM', 'CAT']
['T', 'O', 'M', 'C', 'A', 'T']
T
T O
T O M
T O M C
T O M C A
T O M C A T


['TOM', 'CAT']

In [ ]:
n=5
for i in range(0,n):
  for j in range(0,i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(1,n):
  for k in range(n-i,0,-1):
    print(" ",end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *

In [ ]:
n=5
for i in range(1,n):
  for k in range(n-i,0,-1):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  print()

    *
   * *
  * * *
 * * * *

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,i):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end=" ")
  for k in range(1,i):
     print(k,end=" ")
  print()

1
1 2 1
1 2 3 1 2
1 2 3 4 1 2 3

In [ ]:
n=6
for i in range(1,n):
  for j in range(1,i):
    print(j,end=" ")
  for k in range(i-1,0,-1):
    if i>2:
      print(k,end=" ")
  print()

1
1 2 2 1
1 2 3 3 2 1
1 2 3 4 4 3 2 1

In [ ]:
n=5
for i in range(0,n):
  for j in range(0,n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
       print(" ",end=" ") 
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
for i in range(0,n):
  for j in range(0,n):
    if i==0 or i==n-1 or j==0 or j==n-1 or i==j:
      print("*",end=" ")
    else:
        print(" ",end=" ") 
  print()

* * * * *
* *     *
*   *   *
*     * *
* * * * *

Method- 1

In [ ]:
a = ['A','B','C']
b = [1,2,3]
c = {}
d = c.fromkeys(a)
for i in d:
    d[i] = b,b,b
d

{'A': ([1, 2, 3], [1, 2, 3], [1, 2, 3]),
 'B': ([1, 2, 3], [1, 2, 3], [1, 2, 3]),
 'C': ([1, 2, 3], [1, 2, 3], [1, 2, 3])}

Method- 2

In [ ]:
var = ['A','B','C']
var1 = [1,2,3]
X=[]
Y = {}
for i in range(0,len(var1)):
  X.append(var1)
for j in var:
  Y[j]=X 
  print(Y)

{'A': [[1, 2, 3], [1, 2, 3], [1, 2, 3]]}
{'A': [[1, 2, 3], [1, 2, 3], [1, 2, 3]], 'B': [[1, 2, 3], [1, 2, 3], [1, 2, 3]]}
{'A': [[1, 2, 3], [1, 2, 3], [1, 2, 3]], 'B': [[1, 2, 3], [1, 2, 3], [1, 2, 3]], 'C': [[1, 2, 3], [1, 2, 3], [1, 2, 3]]}